body {
    font-family: open sans, arial, helvetica;
}

.navbar {
    background-color: #E83E8C;
}

.container-fluid img {
    width: 132px;
    height: 53px;
}

.titulo {
    font-size: 60px;
}

.list-group {
    font-size: 10px;
}

.btn {
    font-size: 10px;
    text-decoration: none;
}

h2 {
    font-size: 35px;
}

.collapse {
    margin-left: 900px;
}

.footer {
    background-color: #E83E8C;
}

.footer img {
    width: 53.42px;
    height: 100.45px;
}