body {
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    line-height: 59px;
    letter-spacing: 0;
    margin-top: 7px;
    margin-bottom: 7px;
}

#iduana {
    width: 100%;
}

.parrafo {
    width: 75%;
    margin: 0 auto;
}

.inline-block {
    display: inline-block;
}

.letragris {
    font-size: 20px;
    font-weight: 100;
}

#fondogris {
    background-color: #1E1A13;
    width: 100%;
    height: 348px;
}

.footer {
    background-color: #1E1A13;
}

h2 {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}